<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>

 <script >
  var status= "{{status}}"
  if (status){
    alert(status);
  }
</script>
<link rel="stylesheet" href="static/css/index.css">

<body onload="statusAlert();" >
  <div class="login-page">
    <div class="form">
      <form class="login-form"  action="/question" method="POST">
        <p align="left">
          <input type="text" name="score" hidden value ="{{ score }}"/>
          <input type="text" name="questionNo" hidden value="{{ questionNo }}" />
          <input type="text" name="difficulty" hidden value="{{ difficulty }}" />
          <input type="text" name="attempted" hidden value=" {{ attempted }}">
          {{ attempted }} ) {{ question }} <br><br>
          <input type="password" name="question" autocomplete="False" autofocus/><br>
        </p>
        <button>Next</button>
      </form>
    </div>
  </div>

</body>
<script src='static/js/jquery.min.js'></script>
<script  src="static/js/index.js"></script>
</html>
